*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: #fff;
}

html, body{
    height: 100%;
    width: 100%;
}  
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(15, 16, 16);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cursor{
    height: 30px;
    width: 30px;
    background-color: #fff;
    mix-blend-mode: difference;
    border-radius: 50%;
    position: absolute;
    
}
h1{
    font-size: 20vh;
    font-weight: 1500;
}